body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #121212;
    color: #fff;
}

h1, h2, h3 {
    text-align: center;
}

#form-container {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #2196f3;
    color: white;
}

button:hover {
    background-color: #1976d2;
}

.games-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.games-list a {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.games-list a:hover {
    background-color: #555;
}

#game { margin-top: 20px; }
